In [1]:
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LinearRegression

In [2]:
%matplotlib inline

In [3]:
auto = pd.read_csv(r"auto-mpg.csv")

In [4]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [24]:
auto.shape

(398, 9)

In [26]:
X = auto.iloc[:,1:-1]
X = X.drop(['horsepower'],axis=1)
X.head()

   cylinders  displacement  weight  acceleration  model year  origin
0          8         307.0    3504          12.0          70       1
1          8         350.0    3693          11.5          70       1
2          8         318.0    3436          11.0          70       1
3          8         304.0    3433          12.0          70       1
4          8         302.0    3449          10.5          70       1

In [27]:
y = auto.loc[:,'mpg']

In [28]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [29]:
z = auto['mpg']
z.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [32]:
lr = LinearRegression()
lr.fit(X,y)
lr.score(X,y)

0.8205585866916345

In [36]:
my_car1 = [4, 160, 1901, 20, 90, 1]
my_car2 = [4, 200, 2602, 15, 83, 1]
cars = [my_car1, my_car2]

In [37]:
car_predict = lr.predict(cars)

In [38]:
print(car_predict)

[40.33330336 31.23283409]